:root{
	--header-color: #FF004F;
}



::-webkit-scrollbar{
    display: none !important;
}

html{
	overflow: scroll;
	scrollbar-width: none;
}


body *{
	background-color: #131313 !important;

}
body{
	height: 2000px !important;
}


html *{
/* height: 2000px !important; */
background-color: #131313 !important;

}


[class="imgtable"] {
	/* border: 1px solid #0000 !important; */
	box-shadow: none !important;
	
	
}
[class="column"]{
	
}


[class="NDTHeader"]{
	color: var(--header-color) !important;
	text-align: center !important;
	/* text-transform: uppercase !important; */
	margin-top: 3% !important;
	margin-bottom: 5% !important;
	font-size: 51px !important;
}


[class*="darkimg"]{
	border: 1px solid #000 !important;
	border-radius: 5px !important;
	box-shadow: 0px 0px 15px -1px #000 !important;
	
}

[class*="darkimg"]:hover{
	
}


