<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
<!--    <link rel="stylesheet" href="/NinjaRMM-Theming/assets/css/style.css?v=25d90cddbf6004f70ba0b3a6f462aca3c039d217">-->
    <link href="/assets/css/style.scss" rel="stylesheet" type="text/css">
</head>
  <body>
<section class="page-header">
  <h1 class="project-name">NinjaRMM-Theming</h1>
<table width="200" border="1" class="imgtable">
  <tbody>
    <tr>
      <td><img src="/assets/DashboardCustomers.png" width="500" height="248" class="darkimg1"/></td>
      <td><img src="/assets/DashboardWorkstations.png" width="500" height="248" class="darkimg2"/></td>
      <td><img src="/assets/DetailsPane.png" alt="" width="500" height="248" class="darkimg3"/></td>
    </tr>
    <tr>
      <td><img src="/assets/DeviceInfoDashboard.png" width="500" height="248" class="darkimg4"/></td>
      <td><img src="/assets/ScriptPanel.png" width="500" height="247" class="darkimg5"/></td>
      <td><img src="/assets/TerminalScreen.png" width="500" height="247" class="darkimg6"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<h2 class="project-tagline"></h2>
      
        <a href="https://github.com/NinjaRMMTheming/NinjaRMM-Theming" class="btn">View on GitHub</a>
      
      
  </section>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>





